body {
  margin: 0;
}
th {
  background-color: rgb(233, 232, 233);
  border: 1px solid black;
}
td {
  border: 1px solid black;
  background-color: rgb(233, 232, 233);
}
img {
  height: 200px;
}

.form {
  padding: 100px;
}

.newClass {
  background-color: burlywood;
}

.hidden {
  display: none;
}
